.medpult-work-table {
  background: #E9E9EB;
  display: flex;
  flex-direction: column;
}
.medpult-work-table-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
